<!DOCTYPE html>
<body class="bg-blue-200">
  <header>
    1 + 2 = {{ 1 + 2 }}
  </header>
  <menu>
    <a href="/">Index</a>
    <a @=main href="/_home.html" * X Y Z>Home</a>
    <a @=main href="/_about.html">About</a>
    <a @=main href="/404">404</a>
  </menu>
  <main>
    Index
  </main>
  <!--<script src="tfw.js"></script>-->
  <script>
{% include "public/tfw.js" %}
    app.hookup()
  </script>
</body>

